# for Visual Studio #
.vs/

# for Java (NetBeans) #
project-root-directory/
+ build/
+ dist/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml
/Linked Lists/LinkedListDemo/nbproject/private/
/Linked Lists/LinkedListDemo/build/